supabase
requests
python-dotenv
pytest
transformers
PyPDF2
intasend-python
python-docx
huggingface-hub
pydantic[email]
fastapi
uvicorn[standard]
python-multipart
starlette
jinja2
aiofiles
python-multipart
itsdangerous